<!-- header -->
<header th:flagment="header">
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
    <div class="container">
      <!-- アプリタイトル -->
      <a class="navbar-brand text-white" href="#" th:href="@{/board/index}">Simple Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!-- ボタン -->
        <ul class="navbar-nav ml-auto">
          <a th:href="@{/board/create}">
            <button class="btn btn-primary my-2 my-sm-0">つぶやき登録</button>
          </a>
        </ul>
      </div>
    </div>
  </nav>
</header>