<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{common/head::head}"></head>

<body>
  <header th:replace="~{common/header::header}"></header>
  <main role="main" class="container">
    <div class="starter-template">
      <h1 th:text="${title}">Insert title here</h1>
    </div>
    <!-- flash -->
    <div th:unless="${#strings.isEmpty(complete)}">
      <div th:text="${complete}" class="alert alert-success" role="alert">A simple success alert—check it out!</div>
    </div>
    <!-- table -->
    <table class="table table-hover">
      <!-- table-header -->
      <thead class="thead-light">
        <tr>
          <th class="text-center" scope="col" style="width: 15%">タイトル</th>
          <th class="text-center" scope="col" style="width: 55%">つぶやき</th>
          <th class="text-center" scope="col" style="width: 20%">更新日</th>
          <th class="text-center" scope="col" style="width: 10%">詳細</th>
        </tr>
      </thead>
      <!-- table-body -->
      <tbody>
        <tr th:each="board : ${boardList}">
          <td class="align-middle" th:text="${board.title}"></td>
          <td class="align-middle" th:text="${board.content}"></td>
          <td class="text-center align-middle" th:text="${#temporals.format(board.updatedAt, 'yyyy/M/d H:mm')}"></td>
          <td class="text-center align-middle">
            <a th:href="@{/board/show/{id}(id=${board.id})}">
              <button class="btn btn-outline-primary">みる</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <div th:replace="~{common/script::script}"></div>
</body>

</html>